body {
    background: var(--bg);
    font-family: 'Roboto';
}

.container {
    width: min(1400px, 95%);
    margin: 0 auto;
}

.header {
    position: relative;
    background: var(--bg-violet);
    height: 80px;
    width: 100%;
    padding: 16px 0;
}

.header h1 {
  position: absolute;
  top: 50%;
  left: 86px;
  translate: 0 -50%;
  font-weight: 800;
  font-size: 48px;
  color: var(--white);
  margin: 0;
}

.main {
    padding-top: 24px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
}

.search {
    width: 561px;
    height: 55px;

    border-radius: var(--radius);
    border: none;
    transition: var(--transition);

    background: var(--bg-gray);

    padding: 16px;
}

.search:focus {
    outline: 2px solid var(--bg-violet);
}

.btn-add {
    width: 235px;
    height: 50px;

    border-radius: var(--radius);

    transition: var(--transition);

    background: var(--bg-violet);
    color: var(--white);

    padding: 12px 20px;
}

.btn-add:hover {
    outline: 2px solid var(--bg-violet);
}