:root {
    --white: #ffffff;

    --bg: #fafafa;
    --bg-violet: #918FF0;
    --bg-gray: #ebebeb;

    --text-gray: #777777;
    --text-violet: #6864F9;

    --shadow:
        0 4px 12px rgba(0,0,0,.08);

    --radius: 8px;

    --transition: .25s ease;
}